# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build
dist/
*.tsbuildinfo

# Environment
.env
.env.*.local

# Prisma
prisma/migrations/

coverage
logs
*.log
docker-data
docker-compose.override.yml
tmp
